<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default=""/> <!-- robot_name for use NAMESPACE -->
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->
    <node pkg="state_reader" type="state_reader_node" name="state_reader_node" output="log">
      <param name="side" value="$(arg side)" />
    </node>
    <include file="$(find burger_navigation)/launch/burger_navigation.launch">
       <arg name="robot_name" value="$(arg robot_name)" />
       <arg name="side" value="$(arg side)" />
    </include>
    <node pkg="find_green" type="find_green_node" name="find_green_node" output="screen"/>
    <node pkg="burger_war" type="randomRun.py" name="randomRun" output="screen">
      <param name="side" value="$(arg side)" />
      <param name="robot_name" value="$(arg robot_name)" />
    </node>

    <!-- End of your space  -->
</launch>

